* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: Arial, serif;
  font-size: 16px;
}

html,
body,
#root {
  height: 100%;
}

.feed-container,
.reviews-container,
.support-chats-container,
.chats-container {
  margin-top: 80px;
}

.no-select {
  -moz-user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}
